/* 顶部菜单 */

menu,
.menu {
    width: 100%;
    height: 80px;
    display: flex;
    background: #242424;
    border-bottom: 1px solid #000;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    box-sizing: border-box;
    z-index: 3;
    position: fixed;
    top: 0;
}

.menu .website_name {
    color: #1890ff;
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 1px;
    padding: 4px 8px;
    border-radius: 2px;
    opacity: 0.5;
    transition: all 0.4s ease;
    cursor: pointer;
}

.menu .website_name:hover {
    opacity: 1;
}

.menu .website_name img {
    vertical-align: -21px;
    margin-right: 1px;
}

.menu .menu_links {
    font-size: 20px;
    transition: all 0.4s ease;
    opacity: 0.5;
}

.menu .menu_links:hover {
    opacity: 1;
}

@media screen and (max-width: 799px) {
    .menu .menu_links {
        display: none;
    }
}

.menu .menu_links .link {
    color: #1890ff;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 50px;
    letter-spacing: 2px;
    position: relative;
    transition: all 0.3s 0.2s ease;
}

.menu .menu_links .link:last-child {
    margin-right: 0;
}

.menu .menu_links .link:before {
    content: '';
    position: absolute;
    width: 0px;
    height: 4px;
    background: linear-gradient(270deg, #95ccff 0%, #1890ff 100%);
    bottom: -10px;
    border-radius: 4px;
    transition: all 0.4s cubic-bezier(0.82, 0.02, 0.13, 1.26);
    right: 0%;
}

.menu .menu_links .link:hover {
    opacity: 1;
    color: #FB8A8A;
}

.menu .menu_links .link:hover:before {
    width: 100%;
    left: 0;
}


/* 顶部导航 */

.nav,
.nav {
    width: 100%;
    height: 35px;
    background-color: #C20C0C;
    border-bottom: 1px solid #a40011;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    box-sizing: border-box;
    position: fixed;
    top: 80px;
}

.nav .nav_links .link {
    color: #1890ff;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    background: white;
    padding: 3px 8px;
    border-radius: 2px;
    opacity: 0.5;
    transition: all 0.4s ease;
    cursor: pointer;
}

.nav .nav_links .link:hover {
    opacity: 1;
}

.nav .active {
    opacity: 0.9 !important;
}

.nav .active:hover {
    opacity: 1 !important;
}


/* 搜索框 */

.search,
.search {
    width: 100%;
    height: 40px;
    background: #BEE1F4;
    border-bottom: 1px solid #dfdfdf;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 115px;
}

.search-select {
    width: 80px;
    height: 40px;
    text-align: center;
    color: #000;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    margin-right: 10px;
    font-size: 17px;
    font-weight: 600;
    transition: border-color 0.3s ease;
}

.search-select:hover {
    border: 1px solid #1890ff;
}

.search-select:focus {
    outline: none;  /* 去除默认的聚焦样式 */
    border: 1px solid #1890ff;
}

.search-input {
    width: 400px;
    height: 40px;
    margin-right: 10px;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 600;
    line-height: 40px;
}

.search-button {
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1976d2;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;
}

/* 通过 :not() 确保访问和未访问的链接样式一致 */
.search-button:link,
.search-button:visited {
  color: #fff; /* 确保链接在点击后依然是白色 */
}

.search-button:hover {
    background-color: #1890ff;
}

.search-button:active {
    background-color: #135e96;
}


/* 输入框效果 */

input {
    padding: 4px;
    width: 177px;
    border-radius: 4px;
    border: 1px solid #d9d9d9; /* 默认边框 */
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

input:hover {
    border: 1px solid #1890ff;  /* 鼠标悬停时边框颜色 */
}

input:focus {
    outline: none;  /* 去除默认的聚焦样式 */
    border: 1px solid #1890ff;  /* 设置边框颜色 */
}


/* 顶部公告 */

.top-notice,
.top-notice {
    width: 100%;
    height: 50px;
    background-color: #F7F7F7;
    border-bottom: 1px solid #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
    box-sizing: border-box;
    position: fixed;
    top: 160px;
}

.top-notice img {
    margin-right: 5px;
}

.top-notice .notice {
    font-size: 16px;
    color: #000000;
    font-weight: bold;
}


/* 主体内容 */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #F7F7F7;
    scroll-behavior: smooth;
}


/* menu占位符 */

.placeholder-menu {
    height: 80px;
}


/* nav占位符 */

.placeholder-nav {
    height: 35px;
}

/* search占位符 */

.placeholder-search {
    height: 45px;
}

/* top-notice占位符 */

.placeholder-top-notice {
    height: 50px;
}

.container {
    background-color: #fff;
}

.container-header {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    padding-left: 10px;
    background-color: #EFF7FF
}

.container-body {
    display: flex;
    border-top: 1px solid #dfdfdf;
    padding: 20px 10px 0 10px;
    /*justify-content: space-between;*/
    flex-direction: row;
    flex-wrap: wrap;
}

.container div {
    display: flex;
}

.item-block {
    border: 1px solid #dfdfdf;
    flex-direction: column;
    height: 160px;
    width: 452px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.item-block .loading-message {
    margin: auto;
    font-weight: bold;
}

.item-block .status-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 8px;
}

.item-block .status-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin-block-start: 5px;
    padding-inline-start: 0px;
    justify-content: space-evenly;
}

.item-block .status-item {
    width: 192px;
    height: 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;  /* 调整列表项之间的间距 */
    font-size: 17px;
    font-weight: bold;
}


/* 不同日期差异的颜色样式 */

.item-block .status-list .green {
    background-color: lightgreen;
}

.item-block .status-list .yellow {
    background-color: yellow;
}

.item-block .status-list .red {
    background-color: lightcoral;
}

/* 超链接正常状态下的样式 */

a:link {
    color: #000000;  /* 黑色 */
    text-decoration: none;  /* 无下划线 */
}

/* 访问过的超链接 */

a:visited {
    color: #000000;  /* 黑色 */
    text-decoration: none;  /* 无下划线 */
}

.item-top {
    height: 80px;
    padding: 20px;
}

.item-logo {
    width: 60px;
    height: 60px;
    margin-right: 20px;
}

.item-logo img {
    width: 100%;
    height: 100%;
}

.item-logo-society {
    height: 45px;
    margin-right: 20px;
}

.item-logo-society img {
    height: 100%;
}

.item-logo-society-w {
    width: 120px;
    margin-right: 20px;
}

.item-logo-society-wh {
    height: 55px;
    width: 105px;
    margin-right: 20px;
}

.item-body {
    flex-direction: column;
    width: 79%;
}

.item-bottom {
    height: 40px;
    justify-content: space-evenly;
    align-items: center;
    color: #000000;
    background-color: #F7F7F7;
    font-size: 13px;
}

.item-bottom label {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 5px;
    height: 100%;  /* 让label的高度填满父元素 */
    cursor: pointer;
}

.item-bottom .link {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 100%;  /* 让link的高度填充父元素 */
    cursor: pointer; 
}

.item-bottom .link:hover {
    opacity: 1;
    color: #1890ff;
}

.title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}

.notice {
    font-size: 12px;
    color: #888;
}

.divider {
    height: 20px;
    width: 1px;
    background-color: #dfdfdf;
}

.back-to-top,
.back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    opacity: 0;  /* 初始状态为透明 */
    visibility: hidden;  /* 初始状态为隐藏 */
    transition: opacity 0.25s ease-in-out;  /* 使用 opacity 属性进行渐变显示效果 */
}

.back-to-top.show {
    opacity: 1;  /* 添加显示按钮的类时将其显示 */
    visibility: visible;  /* 添加显示按钮的类时将其显示 */
}

.back-to-top-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1890ff;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(80, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

.back-to-top-btn .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.back-to-top-btn .svgIcon path {
    fill: #fff;
}

.back-to-top-btn:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: #1890ff;
    align-items: center;
}

.back-to-top-btn:hover .svgIcon {
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.back-to-top-btn::before {
    position: absolute;
    bottom: -20px;
    content: "回到顶部";
    color: #fff;
    /* transition-duration: .3s; */
    font-size: 0px;
}

.back-to-top-btn:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    transition-duration: 0.3s;
}

footer,
.footer {
    padding-bottom: 10px;
    line-height: 30px;
    text-align: center;
}

.footer .copy {
    font-size: 20px;
    color: #666;
}

.footer .browser {
    -webkit-text-size-adjust: 100%;
    font-size: 18px;
    color: #666;
}

.footer .link:hover {
    opacity: 1;
    color: #1890ff;
}

for404,
.for404 {
    padding: 60px 0 60px;
    text-align: center;
    background-color: #fff;
}

.for404 .notice {
    background-position: 0 -405px;
    margin-top: 35px;
    -webkit-text-size-adjust: 100%;
    font-size: 18px;
    color: #666;
}

.for404 .link:hover {
    opacity: 1;
    color: #1890ff;
}